﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,#menuleft
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
button,a{outline:0;overflow:visible;cursor:pointer;border:0;background-color:transparent}
ul,li{list-style-type:none}

body{width:100%; padding: 0; margin:0;}

#menuleft{left:-50%;position:fixed;top:0;width:50%;height:100%;z-index:1000;border-right:1px solid #000;background-color:#e34540;display:block}
#menuleft.slide{left:0}
#menuleft h1{background-color:#424242;color:#eee;font-size:1.2em;line-height:50px;text-align:center;float:none !important}
#menuleft a{display:block;width:98%;padding:10px 0 10px 2%;color:#424242;border-bottom:1px solid #424242}
#all{display:block;width:100%}
#all.hide{position:fixed;left:50%;top:0;width:100%}
#all.slide{position:relative;}
.slide,.hide{transition: all 0.2s ease;}

    #header {
    background-color: #fc1d00;
    width: 100%;
    height: 50px;
    padding: 0px;
    position: fixed;
    }
    #header .canal-app-btn {
    float: left;
    width: 29px;
    height: 28px;
    margin-top: 12px;
    margin-left: 15px;
    background: transparent url('../images/button.png') no-repeat;
    }
    #header .canal-app-name {
    width: 50%;
    color: #fff;
    line-height: 50px;
    font-size: 16px;
    float: left;
    margin-left: 25px;
    }

    #header .canal-back-btn {
    background: url(../images/backbutton40.png) no-repeat;
    width: 40px;
    height: 40px;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    }

#wrapper{
    width:100%;
    padding:0px;
    margin-top: 0px;
    position:absolute;
    overflow-:hidden !important;
    height:auto;
}

.overlay{left:0;top:50px;transition: all 0.2s ease;}
.overlay.show{position:fixed;left:50%;right:0;bottom:0;background-color:rgba(0, 0, 0, 0.8);z-index:9999}


.canal-app-icon {
    background: url(../images/app-icon.png) no-repeat white;
    width: 100%;
    height: 27%;
    margin-left: 0%;
    margin-top: -10%;
    background-size: 100%;
}



.canal-translator-btn {
 
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  width: 40%;
  margin-left: 24%;
  text-align:center;
}

.canal-top-2 {

    margin-top:2%;
}


.canal-top-5 {

    margin-top:5%;
}

.canal-top-10 {
    margin-top: 10%;
}

.canal-top-35 {

    margin-top:35%;
}

.canal-top-15 {
    margin-top: 15%;
}

.canal-top-60 {

    margin-top:60%;
}
.canal-top-80 {

    margin-top:80%;
}


.canal-left-2 {

    margin-left:2%;
}

.canal-left-5 {

    margin-left:5%;
}

.canal-left-10 {
    margin-left: 10%;
}

.canal-left-15{
    margin-left: 15%;
}

.canal-left-20{
    margin-left: 20%;
}

.canal-left20 {
    margin-left: 20px;
}


.canal-left-35 {

    margin-left:35%;
}

.canal-padding-30 {

    padding-top:25px;
    margin-left: 20px;
}

.canal-width-50 {

    width:50%;
}

.canal-width-48 {

    width:48%;
}

.text-center {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.menu-one {
    background: url('../images/menu-1-eng-200.png') no-repeat;
    width:200px;
    height:200px;
}

.menu-two {
    background: url('../images/menu-2-eng-200.png') no-repeat;
    width:200px;
    height:200px;
}

.menu-three {
    background: url('../images/menu-3-eng-200.png') no-repeat;
    width:200px;
    height:200px;
}

.menu-four {
    background: url('../images/menu-4-eng-200.png') no-repeat;
    width:200px;
    height:200px;
}

.slide-menu {
    background: url('../images/homeicon.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.slide-menu-one {
    background: url('../images/live_tv.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.slide-menu-two {
    background: url('../images/record_video.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.slide-menu-three {
    background: url('../images/movie.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.slide-menu-four {
    background: url('../images/contactus.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.slide-menu-five {
    background: url('../images/share.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.slide-menu-six {
    background: url('../images/events.png') no-repeat;
    width:40px;
    height:40px;
    vertical-align: text-bottom;
}

.fontcolor {
    color: white;
}

.canal-logo-bg {
    background: url(../images/bg-logo.png) no-repeat;
    width: 100%;
    background-size:100% 100%;
    position: absolute;
}

.canal-wlogo-bg {
    background: url(../images/bg-wlogo.png) no-repeat;
    width: 100%;
    background-size:100% 100%;
    position: absolute;
}


.canal-facebook-btn {
  background: #4d6fa8;
  background-image: -webkit-linear-gradient(top, #4d6fa8, #4d6fa8);
  background-image: -moz-linear-gradient(top, #4d6fa8, #4d6fa8);
  background-image: -ms-linear-gradient(top, #4d6fa8, #4d6fa8);
  background-image: -o-linear-gradient(top, #4d6fa8, #4d6fa8);
  background-image: linear-gradient(to bottom, #4d6fa8, #4d6fa8);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 40%;
  margin-left: 24%;
  text-align:center;
}


.canal-twitter-btn {
  background: #009fe3;
  background-image: -webkit-linear-gradient(top, #009fe3, #009fe3);
  background-image: -moz-linear-gradient(top, #009fe3, #009fe3);
  background-image: -ms-linear-gradient(top, #009fe3, #009fe3);
  background-image: -o-linear-gradient(top, #009fe3, #009fe3);
  background-image: linear-gradient(to bottom, #009fe3, #009fe3);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 40%;
  margin-left: 24%;
  text-align:center;
}


.canal-email-btn {
  background: #e33d00;
  background-image: -webkit-linear-gradient(top, #e33d00, #e33d00);
  background-image: -moz-linear-gradient(top, #e33d00, #e33d00);
  background-image: -ms-linear-gradient(top, #e33d00, #e33d00);
  background-image: -o-linear-gradient(top, #e33d00, #e33d00);
  background-image: linear-gradient(to bottom, #e33d00, #e33d00);
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 40%;
  margin-left: 24%;
  text-align:center;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
   
}

.menu-width {
    width: 48%;
}

 /*@media only screen and (min-width:320px) and (max-width:359px) {

    .fontcolor {
        font-size:16px;
    }
}*/


@media only screen  (min-width:320px) and (max-width:359px) {

     .fontcolor {
        font-size:16px;
    }

    #header .canal-app-name {
    font-size: 16px;
    }

    /*.menu-one {
    background: url('../images/menu-1-eng-100.png') no-repeat;
    width:100px;
    height:100px;
}

.menu-two {
    background: url('../images/menu-2-eng-100.png') no-repeat;
    width:100px;
    height:100px;
}

.menu-three {
    background: url('../images/menu-3-eng-100.png') no-repeat;
    width:100px;
    height:100px;
}

.menu-four {
    background: url('../images/menu-4-eng-100.png') no-repeat;
    width:100px;
    height:100px;
}

.canal-left-5{

margin-left:15%;

}*/

}


@media only screen and (min-width:360px) and (max-width:479px) {

     .fontcolor {
        font-size:16px;
    }

    /*.menu-one {
    background: url('../images/menu-1-eng-100.png') no-repeat;
    width:150px;
    height:150px;
}

.menu-two {
    background: url('../images/menu-2-eng-100.png') no-repeat;
    width:150px;
    height:150px;
}

.menu-three {
    background: url('../images/menu-3-eng-100.png') no-repeat;
    width:150px;
    height:150px;
}

.menu-four {
    background: url('../images/menu-4-eng-100.png') no-repeat;
    width:150px;
    height:150px;
}

.canal-left-5{

margin-left:15%;

}*/

}


@media only screen and (min-width:1280px) and (max-width:1900px)  {

    #header {
        height: 75px;
    }

    #wrapper {
        margin-top: 0px;
    }

    #header .canal-app-name {
        line-height: 65px;
        font-size: 30px;
        font-weight: bolder;
    }

    #header .canal-app-btn {
        width: 58px;
        height: 56px;
        background: transparent url('../images/buttonTV.png') no-repeat;
    }
    .overlay {
        top: 75px;
    }


    #header .canal-back-btn {
        background: url(../images/backbtnTV.png) no-repeat;
        width: 60px;
        height: 60px;
        margin-right: 15px;
        margin-top: 5px;
    }


    .canal-logo-bg {
        background: url(../images/1280-logo.png) no-repeat;
        width: 100%;
        position: absolute;
        background-size: cover;
    }

    .canal-wlogo-bg {
        background: url(../images/1280-wlogo.png) no-repeat;
        width: 100%;
        background-size: cover;
        position: absolute;
    }

    .canal-top-60 {
        margin-top: 20%;
    }

    .canal-translator-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%
    }

    .canal-email-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%;
    }

    .canal-twitter-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%;
    }

    .canal-facebook-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%;
    }

    .canal-top-35 {
        margin-top: 10%;
    }

    .menu-width {
        width: 30%;
        height:25%;
    }

    .canal-left-5 {
        margin-left: 30%;
    }

    .canalTV-top-5 {
        margin-top: 0%;
    }

    .canalTV-top-60 {
        margin-top: 13%;
    }

    .color-contact {
        font-size: 35px;
    }

    .canal-app-icon {
        background: url(../images/app-icon.png) no-repeat;
        height: 30%;
        margin-top: -5%;
        background-size: 35% 100%;
    }

    /*.slide-menu {
        background: url('../images/homeTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-one {
        background: url('../images/liveTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-two {
        background: url('../images/videoTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-three {
        background: url('../images/movieTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-four {
        background: url('../images/contactTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-five {
        background: url('../images/shareTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-six {
        background: url('../images/eventTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }*/

    .fontcolor {
        color: white;
        font-size: 20px;
        font-weight: bolder;
    }

    .canal-padding-30 {
        /*padding-top: 35px;*/
    }



}


@media only screen and (min-width:1920px)  {

    #header {
        height: 75px;
    }

    #wrapper {
        margin-top: 0px;
    }

    #header .canal-app-name {
        line-height: 65px;
        font-size: 30px;
        font-weight: bolder;
    }

    #header .canal-app-btn {
        width: 58px;
        height: 56px;
        background: transparent url('../images/buttonTV.png') no-repeat;
    }
    .overlay {
        top: 75px;
    }


    #header .canal-back-btn {
        background: url(../images/backbtnTV.png) no-repeat;
        width: 60px;
        height: 60px;
        margin-right: 15px;
        margin-top: 5px;
    }


    .canal-logo-bg {
        background: url(../images/1920-logo.png) no-repeat;
        width: 100%;
        position: absolute;
        background-size: cover;
    }

    .canal-wlogo-bg {
        background: url(../images/1920-wlogo.png) no-repeat;
        width: 100%;
        background-size: cover;
        position: absolute;
    }

    .canal-top-60 {
        margin-top: 22%;
    }

    .canal-translator-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%
    }

    .canal-email-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%;
    }

    .canal-twitter-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%;
    }

    .canal-facebook-btn {
        font-size: 30px;
        padding: 30px 40px 30px 40px;
        margin-left: 26%;
    }

    .canal-top-35 {
        margin-top: 10%;
    }

    .menu-width {
        width: 30%;
        height:25%;
    }

    .canal-left-5 {
        margin-left: 30%;
    }

    .canalTV-top-5 {
        margin-top: 0%;
    }

    .canalTV-top-60 {
        margin-top: 17%;
    }

    .color-contact {
        font-size: 35px;
    }

    .canal-app-icon {
        background: url(../images/app-icon.png) no-repeat;
        height: 30%;
        margin-top: -5%;
        background-size: 35% 100%;
    }

    .slide-menu {
        background: url('../images/homeTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-one {
        background: url('../images/liveTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-two {
        background: url('../images/videoTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-three {
        background: url('../images/movieTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-four {
        background: url('../images/contactTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-five {
        background: url('../images/shareTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .slide-menu-six {
        background: url('../images/eventTV.png') no-repeat;
        width: 75px;
        height: 75px;
        vertical-align: middle;
    }

    .fontcolor {
        color: white;
        font-size: 30px;
        font-weight: bolder;
    }

    .canal-padding-30 {
        padding-top: 35px;
    }



}