﻿<div class="canal-logo-bg" ng-controller="contactController">
    <div class="canal-top-60 color-contact text-center">
    <div class="">Website:</div> <span ng-click="gotoWebsite()">canalfrancealgerie</span>
    <div class="canal-top-5">Email:</div><span ng-click="sharefeedback()">Canalfrancealgerieofficiel@gmail.com</span>
    </div>
</div>


