﻿<div class="canal-logo-bg" ng-controller="langController">
    <div class="canal-top-80" style="width: 100%; float:left;">
    


    <div class="canal-translator-btn canal-top-2" style="float:left; margin-left:0;  width: 45%;   padding: 5px 10px 5px 10px;" ng-click="liveTV()"><img style="width:100%" src="./images/button-3-telugu.png"></div>

    <div class="canal-translator-btn canal-top-2" style="float:left; margin-left:0;width: 45%; padding: 5px 10px 5px 10px;" ng-click="liveTV2()"><img style="width:100%" src="./images/button-2-tamil.png"></div>
    

    </div>

    <div class="canal-translator-btn" style="float:left; margin-left:25%; margin-top: 15px;width: 45%;padding: 5px 10px 5px 10px;" ng-click="gotowebsite();"><img style="width:100%" src="./images/button-1-telugu.png"></div>
    
    
    
</div>