﻿<div class="canal-wlogo-bg" ng-controller="menuController">
 <div class="canal-top-35" >

        <div class="canal-left-5">
            <img ng-src="images/{{menu1}}.png" class="menu-width" ng-click="liveTV()" >
            <img ng-src="images/{{menu2}}.png" class="menu-width" ng-click="gotoRepaly()" />
        </div>

        <div class="canal-top-5 canalTV-top-5 canal-left-5">
            <img ng-src="images/{{menu3}}.png" class="menu-width" ng-click="contact()" />
            <img ng-src="images/{{menu4}}.png" class="menu-width" ng-click="share()" />
        </div>

    </div>
    </div>