﻿<div class="canal-logo-bg" ng-controller="shareController">
    <div class="canal-top-60 canalTV-top-60">
    <div class="canal-facebook-btn" ng-click="facebookShare()">{{facebook}}</div>
    <div class="canal-twitter-btn canal-top-5" ng-click="twitterShare()">{{twitter}}</div>
    <div class="canal-email-btn canal-top-5" ng-click="emailShare()">{{email}}</div>
    </div>
</div>