<div ng-controller="videoController"  width="100%" height="100%" poster="./video_loading.gif" style="background-size:100%;width:100%;height:100%;padding: 0; margin:0;">

      <video class="videoplay" x-webkit-airplay="allow" alt="Calvary Worship Center"  src="http://stream.mslive.in:1935/d19/gcb577/playlist.m3u8" autoplay></video>

</div>
