﻿<!DOCTYPE HTML>
<html lang="en-US" ng-app="myApp" ng-controller="AppController">
<head>

<meta charset="utf-8" />
<title>Canal</title>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<link rel='stylesheet' type='text/css' href='css/Main.css' />
</head>
<body>

<div id="menuleft" ng-class="{hide:!showmenu,slide:showmenu}">
<!--<div style="background-color:white;width:100%;">-->
<div class="canal-app-icon"></div>

<!--</div>-->

</div>


<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
<div class="overlay" ng-class="{show:showmenu}" ng-swipe-left="showmenu=false"></div>
<div id="header" ng-show="isShowheader">
<div class="canal-app-btn" ng-click="toggleMenu()" ng-show="isShowslidemenu"></div>
<div class="canal-app-name">{{appName}}</div>
<div class="canal-back-btn" ng-click="backpage()"></div>
</div>

<div id="wrapper" ng-view="">
</div>
</div>
    <script src="scripts/jquery_2.1.0.js"></script>
   <script src="cordova.js"></script>
<!-- JavaScript Includes -->

<!--    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-touch.min.js"></script>-->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular-route.min.js"></script>
    <script src="http://code.angularjs.org/1.2.0rc1/angular-touch.min.js"></script>

<script src="app/app.js"></script>
<script src="app/controller/MainController.js"></script>
<script src="app/controller/langController.js"></script>
<script src="app/controller/menuController.js"></script>
<script src="app/controller/shareController.js"></script>
<script src="app/controller/contactController.js"></script>
<script src="app/controller/videoController.js"></script>

<script src="app/directive/slidemenu.js"></script>
</body>
</html>